<div class="display-card">
    <div class="player-color-display" [ngStyle]="{ backgroundColor: color }"></div><h1 class="player-name gold-text">{{ playerName }}'s turn</h1>
    <h1 class="board-space gold-text">
        {{ message }}
    </h1>
    <div class="action-button-container">
        <div class="filler"></div>
        <!-- <p-button label="Roll Dice" styleClass="p-button-success" (onClick)="rollTheDice()"></p-button>
        <p-button label="End Turn" styleClass="p-button-secondary" (onClick)="endTheTurn()"></p-button> -->
        <button class="action-button gold-text" (click)="rollTheDice()">Roll Dice</button>
        <button class="action-button gold-text" (click)="endTheTurn()">End Turn</button>
    </div>
</div>
