.small {
    margin: 30px 100px 30px 100px;
    opacity: 75%;
}

.smaller {
    margin: 30px 150px 30px 150px;
    opacity: 50%;
}

.large {
    margin: 30px 50px 30px 50px;
}

.red {
    color: red;
}

.message {
    font-size: 24px;
}

.align-right {
    position: relative;
    left: 80%;
}