<div class="whole">
    <div class="header">
        <h1>Masterpiece</h1>
        <p-button styleClass="p-button-danger" label="Test" (onClick)="activateTest()"></p-button>
    </div>
    <div class="main">
        <app-player-list *ngIf="!isGameStart" 
            (playerList)="loadPlayersAndStartGame($event)"
            [boardSpaces]="boardSpaces"
        ></app-player-list>

        <ng-container *ngIf="isGameStart">
            <app-player-board-position-display
                size="large" 
                [playerName]="getCurrentPlayerName()" 
                playerPos="Current Player"
                [message]="getCurrentPlayerBoardSpaceDescription()"
                (endTurnEmitter)="advancePlayerIndices()"
                (rollDiceEmitter)="rollDiceAndAdvancePlayer()"
                [isCurrentPlayer]="true"   
                [color]="getCurrentPlayerColor()"
            ></app-player-board-position-display>
        </ng-container>
    </div>
</div>
