.value-chart {
    width: 38%;
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: ridge goldenrod 5px;
    padding: 15px;

 
}